<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration|Shoppee</title>
</head>
<body>
  <section>
      <form action="#" th:action="@{/register}" method="post" th:object="${registration}">
          <div>
              <div>Hey! You seem to be new here.</div>
              <div>
                  Firstname: <input type="text" th:field="*{firstname}" autofocus/>
              </div>
              <div>
                  Lastname: <input type="text" th:field="*{lastname}" />
              </div>
              <div>
                  <input th:value="*{email}" disabled />
              </div>
              <input type="hidden" th:field="*{email}" />
              <div>
                  <button type="submit">Submit</button>
              </div>
          </div>
      </form>
  </section>
</body>
</html>