<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration|Shoppee</title>
</head>
<body>
  <section>
    <div>
        <div>Hey! You seem to be new here.</div>
        <div>
            <input type="text" name="firstname" placeholder="Firstname"/>
        </div>
        <div>
            <input type="text" name="lastname" placeholder="Lastname" />
        </div>
        <div>
            <input type="email" th:field="*{email}" disabled />
        </div>
        <div>
            <button>Submit</button>
        </div>
    </div>
  </section>
</body>
</html>